<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin name="XProject"
        description="XProject support."
        version="0.6.0"
        vendor="expath.org"
        class="org.expath.xproject.oxygen.XProjectPlugin">

   <runtime>
      <library name="xproject-oxygen-plugin.jar"/>
   </runtime>

   <extension type="WorkspaceAccess" class="org.expath.xproject.oxygen.XProjectExtension"/>

   <view id="xproject-view" initialSide="WEST" initialRow="0"/>

</plugin>
