<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin name="XProject"
        description="XProject support."
        version="0.5.0dev"
        vendor="expath.org"
        class="org.expath.xproject.oxygen.XProjectPlugin">

   <runtime>
      <library name="xproject-oxygen-plugin.jar"/>
   </runtime>

   <extension type="WorkspaceAccess" class="org.expath.xproject.oxygen.XProjectExtension"/>

</plugin>
